.loginMain {
    height: 100vh;
    display: table;
    margin: 0 auto;
}
.loginMainDiv {
    width: 400px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.loginForm {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(169,169,169,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(169,169,169,1);
    box-shadow: 0px 0px 10px 0px rgba(169,169,169,1);
}
.mtmb {
    margin-top: 18px;
    margin-bottom: 10px;
}
.mainHeading {
    font-size: 40px;
    padding-top: 10px;
    color: #1e90ff;
}
.mtmb input {
    border: none;
    border-bottom: 1px solid #1e90ff;
    text-align: center;
    font-size: 18px;
    color: #696969;
}
.mtmb input::placeholder {
    text-align: center;
    opacity: 0;
    color: #a9a9a99c;
}
.mtmb input:focus::placeholder {
    opacity: 1;
  }
.mtmb input:focus {
    outline: none;
}
.btn_Model {
    padding: 10px 15px 10px 15px;
    background-color: #1e90ff;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}
.btn_Model:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(30,144,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(30,144,255,1);
    box-shadow: 0px 0px 10px 0px rgba(30,144,255,1);
}
.btn_Model:focus {
    outline: none;
}
.floating-label {
    position: absolute;
    pointer-events: none;
    margin-left: -7.5rem;
    color: #1e90ff;
    transition: 0.2s ease all;
}
.mtmb input:focus ~ .floating-label, 
.mtmb input:not(:focus):valid ~ .floating-label{
    font-size: 15px;
    opacity: 1;
    margin-left: -7.5rem;
    margin-top: -15px;
}
