.signinMain {
    height: 100vh;
    display: table;
    margin: 0 auto;
}
.signinMainDiv {
    width: 400px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.signinForm {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(169,169,169,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(169,169,169,1);
    box-shadow: 0px 0px 10px 0px rgba(169,169,169,1);
}
.mtmbs {
    margin-top: 18px;
    margin-bottom: 10px;
}
.mainHeading {
    font-size: 40px;
    padding-top: 10px;
    color: #1e90ff;
}
.btn_Model {
    padding: 10px 15px 10px 15px;
    background-color: #1e90ff;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}
.btn_Model:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(30,144,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(30,144,255,1);
    box-shadow: 0px 0px 10px 0px rgba(30,144,255,1);
}
.btn_Model:focus {
    outline: none;
}
.LinkTo:hover {
    text-decoration: underline;
    cursor: pointer;
}